#kanban {
	width: 100%;
	height: 89%;
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #FFFFFF;
	margin: auto;
	border-color: black;
}
#kanban_manager{
	width: 100%;
	height: 10%;
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #000000;
	color: #FFFFFF;
	margin: auto;
	border-color: black;
}

#kanban_manager2{
	width: 10%;
	height: 100%;
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #000000;
	color: #FFFFFF;
	margin: auto;
	border-color: black;
	float: left;
}

#kanban_tutor{
	width: 85%;
	height: 100%;
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #222222;
	color: #FFFFFF;
	margin: auto;
	border-color: black;
	float: right;
	overflow-y:scroll;
}

#stateKaban {
	height: 100%;
	width: 33%;
	float: right;
}

