
#table_sprints {
	width: 100%;
	height: 100%;
	border: 2px #00468E outset;
	vertical-align: center;
	background-color: #FFFFFF !important;
	margin: auto;
	border-color: black;
}

.barra_rolagem{
	overflow-y: scroll; 
	height: 85%; 
	vertical-align: top;
	border: 2px black outset;
}

#table_storys_backlog {
	width: 100%;
	height: 100%;
}

#table_kanban_top{
	width: 100%;
}

#table_linha_history{
	width: 100%;
	border-radius: 0px;
	border: 2px black outset;
	border-color: #000000;
}

#table_story {
	width: 100%;
}

table.story {
	width: 100%;
	background-color: #FFFFFF;
	line-height:normal;
	
}

th.title {
	background-color: #000000 !important;
	background: none;
}

th.menu {
	background-color: #909090 !important;
	background: none;
	text-align: left;
	color: #000000;
}

td.linha {
	background-color: #FFFFFF !important;
	background: none;
	text-align: left;
	color: #000000;
	width: 19.5%;
	vertical-align: top;
}

a.busca{
	text-align: right;
}

#table_tasks{
	width: 100%;
	height: 100%;
}

td.bt_fluxo{
	vertical-align:top;
	width: 5px;
}

