body {
	font-family: Verdana, Arial;
	font-size: 9pt;
	line-height: 150%;
	margin: 0px;
	margin-top: 0px;
	width: 100%;
	height:  96%;
	position: fixed;
}

#div_login{
	width: 100px;
	height: 100px;
	text-align: left;
	margin: 0 auto;
	right: 7%;
	top: 3%;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	margin-left: 0px;
	color: #FFFFFF !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}

#div_start{
	width: 500px;
	height: 300px;
	text-align: left;
	margin: 0 auto;
	left: 30%;
	top: 20%;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	margin-left: 0px;
	color: #FFFFFF !important;
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
	opacity:0.8;
	filter:alpha(opacity=80);
}


#status_div {
	width: 260px;
	height: 20px;
	text-align: left;
	margin: 0 auto;
	right: 2%;
	bottom: 1%;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	margin-left: 0px;
	color: #FFFFFF !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}


#logo_top {
	position: absolute;
	height: 61px;
	width: 61px;
	margin: 0 auto;
	margin-top: 10px;
	left: 10px;
	margin-left: 0px;
	background-image: url("/imagens/step.png");
}

#logo_texto_top {
	position: absolute;
	height: 100px;
	left: 90px;
	font-size: 30px;
	margin-top: 30px;
	color: white;
}

#logo_bg_top {
	height: 80px;
	width: 33%; 
	background-color: #555555; 
	color: white;
	position: fixed;
	margin: 0 auto;
	margin-top: 0px;
	left: 0%;
	margin-left: 0px;
	background-image: -webkit-gradient(linear, 0% 50%, 0% 110%, from(#000000),to(#404040) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #000000, #404040);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
	border-radius: 5px;
	
}

#bg {
	width: 100%;
	height: 110%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5000;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #0066CC;
	border: solid 0px;
}

table {
	border: 2px #000000 outset;
	vertical-align: left;
	background-color: #FFFFFF;
	margin: auto;
	border-color: #000000;
	border-radius: 5px;
}

td{
	color: #000000;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	border-collapse: collapse;
}

th {
	background-color: #000000;
	height:10px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	border-radius: 3px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

input[type=submit] {
	border-radius: 10px;
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black margin :   auto;
	-webkit-box-align: center;
}

input[type=password]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}

input[type=text]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}


input,textarea,select,option {
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black
}

input:hover,textarea:hover,select:hover,option:hover {
	color: #000000;
	background: #99CCFF;
	font-weight: bolder;
	background-color: #99CCFF;
}


input,textarea,select {
	background-color: #FFFFFF;
}

.feedbackPanelERROR {
	color: #FF0000;
	*background: #FFFFFF;
}


/* Pagina de login */
td.login{
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	border-collapse: collapse;
	text-align:center;
	color: white;
}

th.login {
	text-align:center;
	background-color: #000000;
	height:10px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	border-radius: 3px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}