body {
	font-family: Verdana, Arial;
	font-size: 9pt;
	line-height: 150%;
	margin: 0px;
	margin-top: 0px;
	width: 100%;
	height:  96%;
	position: fixed;
}

span.feedbackPanelINFO{
	color: yellow;
}

#div_child{
	width: 100%;
	height: 100%;
	top: 20px;
}

#div_login{
	width: 300px;
	height: 200px;
	text-align: left;
	margin: 0 auto;
	left: 40%;
	top: 30%;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	margin-left: 0px;
	color: #FFFFFF !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}


#status_div {
	text-align: right;
	margin: 0 auto;
	left: 0%;
	bottom: 0;
	position: fixed;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	margin: 0 auto;
	margin-left: 0px;
	background-color: #000000;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}

#pessoal_div {
	font-weight: bold;
	font-size: 11px;
	width: 10%;
	text-align: left;
	margin: 0 auto;
	left: 2%;
	margin-left: 0px;
	position: fixed;
}

#logo_top {
	position: absolute;
	height: 20px;
	width: 20px;
	margin: 0 auto;
	margin-top: 0px;
	left: 0%;
	margin-left: 0px;
}

#top_div {
	line-height: 20px;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	margin: 0 auto;
	margin-left: 0%;
	background-color: #000000;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 0% 0%,0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

#top_div_user {
	top: 0%;
	position: absolute;
	right: 1%;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
}

#menu_div {
	background-image: -webkit-gradient(linear, 0% 100%,0% 0%, from(#909090),to(#404040) );
	line-height: 20px;
	font-weight: bold;
	font-size: 11px;
	height: 20px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 0px;
	left: 0%;
	margin-left: 0px;
	background-color: #909090;
	color: #FFFFFF;
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
}


a:link,a:visited,a:active {
	text-decoration: none;
	color: #0066CC;
	border: solid 0px;
	border-radius: 5px;
}

a.menu:link,a.menu:visited,a.menu:active {
	text-decoration: none;
	box-shadow: 0 5px 15px hsla(0, 0%, 0%, .8);
	border-radius: 5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

a:hover {
	color: #000000;
	font-weight: bolder;
}

a.menu:link,a.menu:visited,a.menu:active {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bolder;
	font-size-adjust: inherit;
}
a.menu:hover {
	color: yellow;
	font-weight: bolder;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

a.status:link,a.status:visited,a.status:active {
	text-decoration: none;
	color: #0066CC;
	font-weight: bolder;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}
a.status:hover {
	color: #0066CC;
	font-weight: bolder;
}


.bg {
	width: 100%;
	height: 120%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5000;
}



table {
	border: 2px #000000 outset;
	vertical-align: left;
	background-color: #FFFFFF;
	margin: auto;
	border-color: #000000;
	border-radius: 5px;
}

td{
	color: #000000;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	border-collapse: collapse;
}

th {
	background-color: #000000;
	height:10px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	border-radius: 3px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}

input[type=submit] {
	border-radius: 10px;
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black margin :   auto;
	-webkit-box-align: center;
}

textarea:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}

input[type=password]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}

input[type=text]:focus {
	border: 2px solid #000000;
	background-color: #99CCFF;
}


input,textarea,select,option {
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border: 1px solid black
}

input:hover,textarea:hover,select:hover,option:hover {
	color: #000000;
	background: #99CCFF;
	font-weight: bolder;
	background-color: #99CCFF;
}


input,textarea,select {
	background-color: #FFFFFF;
}

.feedbackPanelERROR {
	color: #FF0000;
	*background: #FFFFFF;
}


/* Pagina de login */
td.login{
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border: 0px #00468E solid;
	border-collapse: collapse;
	text-align:center;
	color: white;
}

th.login {
	text-align:center;
	background-color: #000000;
	height:10px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	border: 0px solid #000000;
	border-radius: 3px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040),to(#000000) );
	background-image: -moz-linear-gradient(100% 100% 90deg, #404040, #000000);
}