
#table_storys_backlog {
	width: 100%;
	height: 100%;
	border: 0px;
	border-radius: 0px;
	border-spacing: 0px;
	padding: 0px !important;
	text-align: left;
	border-spacing: 0px !important;
	padding: 5px;
}

#table_story {
	width: 100%;
}

table.story {
	width: 100%;
	background-color: #FFFFFF;
}

th.title {
	background-color: #000000 !important;
/* 	background: none; */
}

th.menu {
	background-color: #909090 !important;
	background: none;
	text-align: left;
	color: #000000;
}

a.busca{
	text-align: right;
}

#table_tasks{
	width: 100%;
	height: 100%;
}

td.bt_fluxo{
/* 	vertical-align:top; */
	width: 5px;
}

